In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("vehicles_messy.csv", low_memory = False)

In [3]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
df.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

### 1. Missing values
aka

In [5]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
df.isnull()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37839,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37840,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37841,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
37842,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [7]:
df.isnull().sum()

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

In [8]:
null_cols = df.isnull().sum()

In [9]:
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [10]:
df[["cylinders"]][df["cylinders"].isnull()].head()
# show me the rows of the cylinders column that are NaN

      cylinders
7138        NaN
7139        NaN
8143        NaN
8144        NaN
8146        NaN

In [11]:
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [12]:
123 / len(df)

0.0032502708559046588

In [13]:
null_cols[null_cols > 0] / len(df)

cylinders     0.003250
displ         0.003171
drive         0.031419
eng_dscr      0.407024
trany         0.000291
guzzler       0.939725
trans_dscr    0.602384
tCharger      0.862960
sCharger      0.982401
atvType       0.918823
fuelType2     0.962794
rangeA        0.962926
evMotor       0.985149
mfrCode       0.814365
c240Dscr      0.999022
c240bDscr     0.999049
startStop     0.837804
dtype: float64

After really through analysis, I concluded with more than 30% NaNs are useless and should thus be dropped.

In [14]:
# get a list of columns, where relative  frequency of NaNs > 30 %
# null_cols[(null_cols[null_cols > 0] / len(df)) > .3] # It doesn't work.

null_perc = null_cols[null_cols > 0] / len(df)
to_drop = null_perc[null_perc > .3].index
to_drop

Index(['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType',
       'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr',
       'startStop'],
      dtype='object')

In [15]:
df.drop(to_drop, axis = 1)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [16]:
df = df.drop(to_drop, axis = 1)

In [17]:
df.isnull().sum()[(df.isnull().sum()) > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [18]:
df

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,Two Seaters,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,Subcompact Cars,1985,500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,0.0,Vans,1985,-8500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-750,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-1250,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,0.0,Compact Cars,1993,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [19]:
relevant_columns = ["year","make","model","trany","drive","fuelType","cylinders","displ"]
df[relevant_columns][df["displ"].isnull()]

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
...,...,...,...,...,...,...,...,...
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN

In [20]:
df[["cylinders"]][df["fuelType"] == "Electricity"].sum()

cylinders    0.0
dtype: float64

In [21]:
df[["cylinders"]][df["fuelType"] == "Electricity"].count()

cylinders    0
dtype: int64

In [22]:
df["fuelType"][df["cylinders"].isnull()].value_counts()

Electricity    120
Regular          3
Name: fuelType, dtype: int64

In [23]:
df[["fuelType", "cylinders"]].fillna(0)

      fuelType  cylinders
0      Regular        4.0
1      Regular       12.0
2      Regular        4.0
3      Regular        8.0
4      Premium        4.0
...        ...        ...
37838  Regular        4.0
37839  Regular        4.0
37840  Regular        4.0
37841  Regular        4.0
37842  Premium        4.0

[37843 rows x 2 columns]

In [24]:
df[["displ", "cylinders"]] = df[["displ", "cylinders"]].fillna(0)

In [25]:
# Last validation, check for rows in which cylinders = 0 & displ != 0
df[(df["cylinders"] == 0) & (df["displ"] != 0)][relevant_columns]

,year,make,model,trany,drive,fuelType,cylinders,displ
21506,1986,Mazda,RX-7,Manual 5-spd,Rear-Wheel Drive,Regular,0.0,1.3

In [26]:
df.loc # location # cf) df.iloc
df.loc[(df["cylinders"] == 0) & (df["displ"] != 0), "cylinders"]

21506    0.0
Name: cylinders, dtype: float64

#### 2. Information contained in the columns
( of columns)

In [27]:
df["barrels08"].head()

0    15.695714
1    29.964545
2    12.207778
3    29.964545
4    17.347895
Name: barrels08, dtype: float64

In [28]:
min(df["barrels08"])

0.06000000000000001

In [29]:
df["barrels08"].min()

0.06000000000000001

In [30]:
np.percentile(df["barrels08"], 90)

23.543571428571425

In [31]:
def detect_low_variance(df, column, perc):
    min_value = min(df[column])
    perc_value = np.percentile(df[column],perc)
    return min_value == perc_value

In [32]:
detect_low_variance(df, "barrels08", 90)

False

In [33]:
df.select_dtypes(include = [np.number])

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,23.3333,0.0,35.0000,0.0,1985,-1250,0.0,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,11.0000,0.0,19.0000,0.0,1985,-8500,0.0,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,29.0000,0.0,47.0000,0.0,1985,500,0.0,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,12.2222,0.0,16.6667,0.0,1985,-8500,0.0,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,21.0000,0.0,32.0000,0.0,1993,-4000,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,24.0000,0.0,37.0000,0.0,1993,-750,0.0,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,25.0000,0.0,39.0000,0.0,1993,-500,0.0,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,23.0000,0.0,34.0000,0.0,1993,-1250,0.0,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,23.0000,0.0,34.0000,0.0,1993,-1250,0.0,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,20.0000,0.0,29.0000,0.0,1993,-4500,0.0,0,0,0

In [34]:
df.select_dtypes(include = [np.number]).columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore',
       'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year',
       'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [35]:
df.select_dtypes(include = [int, float]).columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore',
       'ghgScoreA', 'highway08', 'highway08U', 'highwayA08', 'highwayA08U',
       'highwayCD', 'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'year',
       'youSaveSpend', 'charge240b', 'phevCity', 'phevHwy', 'phevComb'],
      dtype='object')

In [36]:
[col for col in df.select_dtypes(include = [np.number]).columns if detect_low_variance(df, col, 90)]

['barrelsA08',
 'charge120',
 'charge240',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2A',
 'co2TailpipeAGpm',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'fuelCostA08',
 'ghgScoreA',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'UCityA',
 'UHighwayA',
 'charge240b',
 'phevCity',
 'phevHwy',
 'phevComb']

In [37]:
low_variance = [col for col in df.select_dtypes(include = [np.number]).columns if detect_low_variance(df, col, 90)]

In [38]:
df.drop(low_variance, axis = 1)

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
0,15.695714,19,0.0,-1,423.190476,21,0.0,4.0,2.0,Rear-Wheel Drive,...,0,0,Manual 5-spd,23.3333,35.0000,Two Seaters,1985,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,29.964545,9,0.0,-1,807.909091,11,0.0,12.0,4.9,Rear-Wheel Drive,...,0,0,Manual 5-spd,11.0000,19.0000,Two Seaters,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,12.207778,23,0.0,-1,329.148148,27,0.0,4.0,2.2,Front-Wheel Drive,...,0,0,Manual 5-spd,29.0000,47.0000,Subcompact Cars,1985,500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,5.2,Rear-Wheel Drive,...,0,0,Automatic 3-spd,12.2222,16.6667,Vans,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,17.347895,17,0.0,-1,467.736842,19,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,21.0000,32.0000,Compact Cars,1993,-4000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,19,0.0,-1,403.954545,22,0.0,4.0,2.2,Front-Wheel Drive,...,0,90,Automatic 4-spd,24.0000,37.0000,Compact Cars,1993,-750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37839,14.330870,20,0.0,-1,386.391304,23,0.0,4.0,2.2,Front-Wheel Drive,...,0,90,Manual 5-spd,25.0000,39.0000,Compact Cars,1993,-500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37840,15.695714,18,0.0,-1,423.190476,21,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Automatic 4-spd,23.0000,34.0000,Compact Cars,1993,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37841,15.695714,18,0.0,-1,423.190476,21,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,23.0000,34.0000,Compact Cars,1993,-1250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37842,18.311667,16,0.0,-1,493.722222,18,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Automatic 4-spd,20.0000,29.0000,Compact Cars,1993,-4500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

In [39]:
df = df.drop(low_variance, axis = 1)

#### 3. Outliers

In [40]:
df.describe()

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,engId,...,hpv,id,lv2,lv4,pv2,pv4,UCity,UHighway,year,youSaveSpend
count,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.00000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,17.941389,4.042737,61.503713,473.179736,20.195809,4.549751,5.71934,3.307658,8860.308961,...,10.424332,19019.286235,1.849219,6.165658,13.696113,33.769125,22.587229,33.619221,2000.064398,-2658.999022
std,4.575950,6.660360,9.645820,153.387715,122.188847,6.623444,10.389994,1.77918,1.371982,17829.683477,...,28.148770,11034.784855,4.429983,9.743297,31.269930,45.914462,9.350163,10.048326,10.390588,2553.098329
min,0.060000,6.000000,0.000000,-1.000000,0.000000,7.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000
25%,14.330870,15.000000,0.000000,-1.000000,388.000000,17.000000,0.000000,4.00000,2.200000,0.000000,...,0.000000,9461.500000,0.000000,0.000000,0.000000,0.000000,18.000000,27.100000,1990.000000,-4250.000000
50%,17.347895,17.000000,0.000000,-1.000000,467.736842,19.000000,0.000000,6.00000,3.000000,211.000000,...,0.000000,18923.000000,0.000000,0.000000,0.000000,0.000000,21.000000,33.000000,2001.000000,-2500.000000
75%,20.600625,20.000000,0.000000,-1.000000,555.437500,23.000000,0.000000,6.00000,4.300000,4505.000000,...,0.000000,28570.500000,0.000000,13.000000,0.000000,91.000000,25.139300,38.109600,2009.000000,-750.000000
max,47.087143,138.000000,138.304000,847.000000,1269.571429,124.000000,124.360100,16.00000,8.400000,69102.000000,...,195.000000,38173.000000,41.000000,55.000000,194.000000,192.000000,197.577100,159.100000,2017.000000,4000.000000

In [41]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000

In [42]:
df.describe().transpose()["25%"]

barrels08           14.33087
city08              15.00000
city08U              0.00000
co2                 -1.00000
co2TailpipeGpm     388.00000
comb08              17.00000
comb08U              0.00000
cylinders            4.00000
displ                2.20000
engId                0.00000
feScore             -1.00000
fuelCost08        1500.00000
ghgScore            -1.00000
highway08           20.00000
highway08U           0.00000
hlv                  0.00000
hpv                  0.00000
id                9461.50000
lv2                  0.00000
lv4                  0.00000
pv2                  0.00000
pv4                  0.00000
UCity               18.00000
UHighway            27.10000
year              1990.00000
youSaveSpend     -4250.00000
Name: 25%, dtype: float64

In [43]:
df_desc = df.describe().transpose()

In [44]:
df_desc = df_desc.assign(IQR = df_desc["75%"] - df_desc["25%"])

In [45]:
df_desc

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [46]:
df_desc.index

Index(['barrels08', 'city08', 'city08U', 'co2', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'cylinders', 'displ', 'engId', 'feScore', 'fuelCost08',
       'ghgScore', 'highway08', 'highway08U', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'UCity', 'UHighway', 'year', 'youSaveSpend'],
      dtype='object')

In [47]:
outliers = pd.DataFrame(columns = df.columns)

for col in df_desc.index:
    iqr = df_desc.loc[col, "IQR"]
    cutoff = iqr * 6
    lower_threshold = df_desc.loc[col, "25%"] - cutoff
    upper_threshold = df_desc.loc[col, "75%"] + cutoff
    results = df[(df[col] < lower_threshold) | (df[col] > upper_threshold)].copy()
    results = results.assign(outlier = col)
    outliers = pd.concat([outliers, results], ignore_index = True, sort = False)

In [48]:
outliers

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn,outlier
0,0.240,81,0.0000,0,0.0,85,0.0000,0.0,0.0,NaN,...,0,NaN,116.2069,129.6154,Midsize Station Wagons,2000,2750,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,city08
1,0.282,81,0.0000,0,0.0,72,0.0000,0.0,0.0,2-Wheel Drive,...,0,NaN,116.2069,91.0811,Sport Utility Vehicle - 2WD,2000,2250,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,city08
2,0.282,81,0.0000,0,0.0,72,0.0000,0.0,0.0,2-Wheel Drive,...,0,NaN,116.2069,91.0811,Sport Utility Vehicle - 2WD,2001,2250,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,city08
3,0.312,74,0.0000,0,0.0,65,0.0000,0.0,0.0,NaN,...,0,NaN,105.3125,82.1951,Two Seaters,2001,1750,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,city08
4,0.270,84,0.0000,0,0.0,75,0.0000,0.0,0.0,NaN,...,0,NaN,120.3571,93.6111,Two Seaters,2001,2250,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,city08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66547,0.192,120,119.6000,0,0.0,105,105.3754,0.0,0.0,Front-Wheel Drive,...,97,Automatic (A1),170.9000,131.4000,Small Station Wagons,2017,3750,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,UHighway
66548,0.204,98,97.5636,0,0.0,99,99.0945,0.0,0.0,Rear-Wheel Drive,...,0,Automatic (A1),132.2000,136.9000,Large Cars,2016,3500,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,UHighway
66549,0.192,101,101.4750,0,0.0,104,103.7678,0.0,0.0,All-Wheel Drive,...,0,Automatic (A1),137.5000,144.6000,Large Cars,2016,3750,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,UHighway
66550,0.210,92,92.4713,0,0.0,98,97.5232,0.0,0.0,All-Wheel Drive,...,0,Automatic (A1),125.3000,141.6000,Large Cars,2016,3250,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,UHighway
66551,0.216,91,91.2362,0,0.0,93,92.5663,0.0,0.0,All-Wheel Drive,...,0,Automatic (A1),124.3000,128.4000,Standard Sport Utility Vehicle 4WD,2016,3250,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,UHighway

In [49]:
outliers.groupby("outlier")["outlier"].count()

outlier
UCity          141
UHighway        91
city08         130
city08U       7299
co2           5854
comb08         106
comb08U       7299
engId         4893
feScore       5815
ghgScore      5815
highway08       92
highway08U    7299
hlv           4615
hpv           4614
lv2           6250
pv2           6239
Name: outlier, dtype: int64

In [50]:
outliers["outlier"].value_counts()

comb08U       7299
city08U       7299
highway08U    7299
lv2           6250
pv2           6239
co2           5854
feScore       5815
ghgScore      5815
engId         4893
hlv           4615
hpv           4614
UCity          141
city08         130
comb08         106
highway08       92
UHighway        91
Name: outlier, dtype: int64

### Lecture 2

In [51]:
df_desc

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719340,1.779180,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [52]:
df_desc.index

Index(['barrels08', 'city08', 'city08U', 'co2', 'co2TailpipeGpm', 'comb08',
       'comb08U', 'cylinders', 'displ', 'engId', 'feScore', 'fuelCost08',
       'ghgScore', 'highway08', 'highway08U', 'hlv', 'hpv', 'id', 'lv2', 'lv4',
       'pv2', 'pv4', 'UCity', 'UHighway', 'year', 'youSaveSpend'],
      dtype='object')

In [53]:
df_desc["25%"]

barrels08           14.33087
city08              15.00000
city08U              0.00000
co2                 -1.00000
co2TailpipeGpm     388.00000
comb08              17.00000
comb08U              0.00000
cylinders            4.00000
displ                2.20000
engId                0.00000
feScore             -1.00000
fuelCost08        1500.00000
ghgScore            -1.00000
highway08           20.00000
highway08U           0.00000
hlv                  0.00000
hpv                  0.00000
id                9461.50000
lv2                  0.00000
lv4                  0.00000
pv2                  0.00000
pv4                  0.00000
UCity               18.00000
UHighway            27.10000
year              1990.00000
youSaveSpend     -4250.00000
Name: 25%, dtype: float64

In [54]:
p = "25%"
df_desc[p]

barrels08           14.33087
city08              15.00000
city08U              0.00000
co2                 -1.00000
co2TailpipeGpm     388.00000
comb08              17.00000
comb08U              0.00000
cylinders            4.00000
displ                2.20000
engId                0.00000
feScore             -1.00000
fuelCost08        1500.00000
ghgScore            -1.00000
highway08           20.00000
highway08U           0.00000
hlv                  0.00000
hpv                  0.00000
id                9461.50000
lv2                  0.00000
lv4                  0.00000
pv2                  0.00000
pv4                  0.00000
UCity               18.00000
UHighway            27.10000
year              1990.00000
youSaveSpend     -4250.00000
Name: 25%, dtype: float64

In [55]:
outliers = pd.DataFrame(columns = df.columns)

for col in df_desc.index:
    iqr = df_desc.loc[col, "IQR"]
    cutoff = iqr * 6
    lower_threshold = df_desc.loc[col, "25%"] - cutoff
    upper_threshold = df_desc.loc[col, "75%"] + cutoff
    results = df[(df[col] < lower_threshold) | (df[col] > upper_threshold)].copy()
    results = results.assign(outlier = col)
    outliers = pd.concat([outliers, results], ignore_index = True, sort = False)

In [56]:
outliers.groupby["outlier"]["outliers"].count()

TypeError: 'method' object is not subscriptable

### 4. Data types

In [57]:
df["year"].astype("object")

0        1985
1        1985
2        1985
3        1985
4        1993
         ...
37838    1993
37839    1993
37840    1993
37841    1993
37842    1993
Name: year, Length: 37843, dtype: object

### 5. Text and string manipulations / cleaning

In [58]:
df["trany"].value_counts()

Automatic 4-spd                     11042
Manual 5-spd                         8311
Automatic 3-spd                      3151
Automatic (S6)                       2638
Manual 6-spd                         2429
Automatic 5-spd                      2184
Manual 4-spd                         1483
Automatic 6-spd                      1432
Automatic (S8)                        960
Automatic (S5)                        824
Automatic (variable gear ratios)      681
Automatic 7-spd                       663
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        233
Auto(AM7)                             160
Auto(AV-S6)                           145
Auto(AM6)                             110
Automatic (A1)                        109
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           77
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Manual 4-spd Doubled                   17
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (A6)                          4
Automatic (AV)                          4
Manual(M7)                              3
Auto(L3)                                2
Automatic (AM5)                         2
Auto(L4)                                2
Auto (AV)                               2
Automatic (AM6)                         1
Auto(AM-S9)                             1
Auto (AV-S8)                            1
Automatic 6spd                          1
Manual 5 spd                            1
Auto (AV-S6)                            1
Auto(A1)                                1
Name: trany, dtype: int64

In [59]:
to_replace = {"Automatic": "Auto",
              "Auto\(": "Auto ",
              "Manual\(": "Manual ",
              "-": "",
              "(": "",
              ")": ""}

for pat, repl in to_replace.items():
    df_trany = df_trany.str.replace[pat, repl]

df_trany.value_counts()

NameError: name 'df_trany' is not defined

### 6. Drop duplicates

In [60]:
before = len(df)
df.drop_duplicates()
after = len(df)
print(f"{before - after} rows dropped")

0 rows dropped

In [61]:
df_copy = df.copy()

In [62]:
select_columns = ["make", "model", "year", "displ", "cylinders", "trany", "drive", "VClass", "fuelType",
                  "barrels08", "city08", "highway08", "comb08", "co2TailpipeGpm", "fuelCost08"]

In [63]:
df_copy = df_copy.drop_duplicates(select_columns)
after = len(df_copy)
print(f"This time, {before - after} rows dropped")

This time, 885 rows dropped

In [64]:
def check_drop_duplicates(# a dataframe, # a list of columns in that dataframe):
    # 1. create a copy of the dataframe
    # 2. drop the duplicate rows from that copy given the list
    # 3. Tell user how many rows would get dropped and ask if I should proceed
        # 4.1 If yes, drop the rows on df (inplace)
        # 4.2 If no, do not drop. Ask user I should return the rows that would be dropped
            # 5.1 If no, exit
            # 5.2 If yes, retrieve the rows that would get dropped, and return them as a DataFrame

SyntaxError: unexpected EOF while parsing (<ipython-input-64-4e49e820cc0e>, line 8)

In [65]:
def check_drop_duplicates(df, cols): # a dataframe, # a list of columns in that dataframe):
    # 1. create a copy of the dataframe
    copy = df.copy()
    
    # 2. drop the duplicate rows from that copy given the list
    copy = copy.drop_duplicates(cols) # this could be done in one step
    
    # 3. Tell user how many rows would get dropped and ask if I should proceed
    before = len(df)
    after = len(copy)
    drop_choice = None
    while drop_choice not in ("y", "n"):
        drop_choice = input(f"{before - after} duplicated rows identified. Do you want me to drop them? (y/n)")
        
        # 4.1 If yes, drop the rows on df (inplace)
    if drop_choice == "y":
        df.drop_duplicates(cols, inplace = True)
        return
    
        # 4.2 If no, do not drop. Ask user I should return the rows that would be dropped
    print("Aborting")
    
    drop_choice = None
    while drop_choice not in ("y", "n"):
        return_choice = input("Do you want me to give you the rows that would get dropped? (y/n)")

            # 5.1 If yes, retrieve the rows that would get dropped, and return them as a DataFrame
    if return_choice == "y":
        return df.loc[list(set(df.index) - set(copy.index))]

            # 5.2 If no, exit

In [66]:
check_drop_duplicates(df, select_columns)

885 duplicated rows identified. Do you want me to drop them? (y/n)y

### References

In [67]:
# reference

a = [1, 2, 3]
b = [1, 2]

list(set(a) - set(b))

[3]

In [ ]:
df[["columns"]][rows_conditions]

df.loc[rows_conditions, ["columns"]]

In [69]:
df[1:10]

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,pv2,pv4,trany,UCity,UHighway,VClass,year,youSaveSpend,createdOn,modifiedOn
1,29.964545,9,0.0,-1,807.909091,11,0.0,12.0,4.9,Rear-Wheel Drive,...,0,0,Manual 5-spd,11.0000,19.0000,Two Seaters,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,12.207778,23,0.0,-1,329.148148,27,0.0,4.0,2.2,Front-Wheel Drive,...,0,0,Manual 5-spd,29.0000,47.0000,Subcompact Cars,1985,500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,5.2,Rear-Wheel Drive,...,0,0,Automatic 3-spd,12.2222,16.6667,Vans,1985,-8500,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,17.347895,17,0.0,-1,467.736842,19,0.0,4.0,2.2,4-Wheel or All-Wheel Drive,...,0,90,Manual 5-spd,21.0000,32.0000,Compact Cars,1993,-4000,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
5,14.982273,21,0.0,-1,403.954545,22,0.0,4.0,1.8,Front-Wheel Drive,...,0,88,Automatic 3-spd,27.0000,33.0000,Compact Cars,1993,-750,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
6,13.184400,22,0.0,-1,355.480000,25,0.0,4.0,1.8,Front-Wheel Drive,...,0,88,Manual 5-spd,28.0000,41.0000,Compact Cars,1993,0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
7,13.733750,23,0.0,-1,370.291667,24,0.0,4.0,1.6,Front-Wheel Drive,...,0,89,Automatic 3-spd,29.0000,37.0000,Compact Cars,1993,-250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
8,12.677308,23,0.0,-1,341.807692,26,0.0,4.0,1.6,Front-Wheel Drive,...,0,89,Manual 5-spd,30.0000,43.0000,Compact Cars,1993,250,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
9,13.184400,23,0.0,-1,355.480000,25,0.0,4.0,1.8,Front-Wheel Drive,...,0,89,Automatic 4-spd,29.0000,42.0000,Compact Cars,1993,0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013